video#video{
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}
body{
  background-image: url(/home/nicolasf/Documents/Website/CV/Image/nasa-89125-unsplash.jpg);
background-size: 100%;
font-family: 'Orbitron', sans-serif;
  color: #66CCFF;
}
h1{
  text-align: center;
  font-size: 4em;
}
h2{
  text-align: center;
font-size: 2em;
}
.container{
  text-align: center;
background-color: rgba(0,0,0,0.4);
}
.texte{
  text-align: center;
  font-size: 1.5em;
}
