video#video{
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}
body{
  background-image: url(/home/nicolasf/Documents/Website/CV/Image/nasa-89125-unsplash.jpg);
background-size: 100%;
font-family: 'Orbitron', sans-serif;
color: #66CCFF
}

html,body{
       width: 100%;
	   height: 100%;
}

 body {
     background: #0d161f;
}
h1{
  text-align: center;
  font-size: 4.0rem;
}
header{
 display: inline-block;
 width: 100%;
 height: 10%;
 border: 4px  #66CCFF;
}
ul{
  list-style-type: none;
}
nav{
  margin-left: auto;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 3px solid #66CCFF;
  background-color: rgba(0,0,0,0.4)
}
.competence{
  font-size: 1.5rem;
  text-align: center;
  padding-top: 15%;
}
.realisations{
  font-size: 1.5rem;
  text-align: center;
}
.en-savoir-plus{
  font-size: 1.5rem;
  text-align: center;
  padding-top: 15%;
  }
.wolf{
width: 45%;
height: 45%;
}
.contact{
  font-size: 1.5rem;
  text-align: center;
}
